
       <!--fonts by vivek -->



    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- External CSS loaded from GitHub by vivek ☠️-->
    <link rel="stylesheet" href="https://raw.githack.com/vivekdalvi147-prog/Need-code-for-developr-/main/Body.css">
</head>
<body>




    <!--Smooth Scrolling code by vivek -->
    <script>
        document.querySelectorAll('a').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                // Only if link starts with #
                if (this.getAttribute('href').startsWith('#')) {
                    e.preventDefault();
                    const target = document.querySelector(this.getAttribute('href'));
                    if (target) {
                        target.scrollIntoView({
                            behavior: 'smooth'
                        });
                    }
                }
            });
        });

                       
